.card {
  background: black;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10%;
  overflow: hidden;
  & > * {
    width: 50%;
  }
  & h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  & p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
