.ct__container {
  width: 80%;
}

.ct {
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ct__title {
  width: 100%;
  height: fit-content;
  padding: 1.5rem;
  overflow: hidden;
  background: rgb(45, 45, 45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: start;
  color: white;
  border: none;
  border-bottom: 1px solid black;
}

.ct__expand {
  --transition-duration: 300ms;
  overflow: hidden;
  display: grid;
  background: rgb(45, 45, 45);
  transition: grid-template-rows var(--transition-duration) ease-in-out;
  grid-template-rows: 0fr;

  & > p {
    transition: padding-top var(--transition-duration) ease-in-out,
      padding-bottom var(--transition-duration) ease-in-out;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.ct__expanded {
  grid-template-rows: 1fr;

  & > p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
